@media (min-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 10px;
  }

  .masthead {
    height: 700px;
    background: var(--color-dark) url("../img/promo-tablet.png") no-repeat
      center;
    background-size: 100%;
  }

  .header {
    padding: 20px;
  }

  .logo {
    padding-top: 25px;
  }

  .heading {
    padding-top: 115px;
    font-size: 52px;
  }

  .text {
    padding-top: 20px;
    font-size: 24px;
  }

  .people {
    height: 270px;
  }

  .button_bottom {
    margin-top: 20px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 940px;
    padding: 0;
  }

  .masthead {
    height: 692px;
    background: var(--color-dark) url("../img/promo-desktop.png") no-repeat
      center;
    background-size: none;
  }

  @media (min-width: 1440px) {
    .masthead {
      max-width: 1440px;
      margin: 0 auto;
      background-size: 100%;
    }
  }

  .header {
    padding: 20px;
  }

  .logo {
    padding-top: 25px;
  }

  .heading {
    max-width: 550px;
    padding-top: 115px;
    font-size: 52px;
  }

  .text {
    padding-top: 20px;
    font-size: 24px;
  }

  .button {
    max-width: 225px;
  }

  .partners {
    justify-content: space-between !important;
  }

  .people {
    max-width: 230px !important;
    padding: 10px 0;
  }

  .button_bottom {
    max-width: 190px;
  }
}
