.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding: 0 10px;
}

/* header */
.masthead {
  width: 100%;
  height: 540px;
  background: var(--color-dark) url("../img/promo-mobile.png") no-repeat center;
  background-size: 100%;
  text-align: center;
  color: white;
}

.masthead {
  padding-top: 20px;
}

.nav {
  width: 100%;
}

.logo {
  padding-top: 100px;
  font-family: var(--ffMonserratB);
  font-size: 20px;
  color: white;
}

.menu__link {
  padding: 10px;
  text-align: center;
  font-family: var(--ffMonserratB);
  font-size: 14px;
  color: white;
}

.menu__sign {
  min-width: 90px;
  border: 2px solid white;
  border-radius: 20px;
}

.heading {
  padding-top: 50px;
  font-family: var(--ffMonserratB);
  text-transform: uppercase;
  font-size: 30px;
}

.text {
  font-family: var(--ffRobotoL);
  font-size: 18px;
}

.button {
  min-height: 40px;
  border: 1px solid var(--color-btn);
  border-radius: 20px;
  background: var(--color-btn);
  font-family: var(--ffMonserratB);
  font-size: 14px;
  color: white;
}

/* section-promo */
.rubric {
  text-align: center;
}

.rubric__text {
  padding-top: 40px;
  font-family: var(--ffMonserratB);
  font-size: 22px;
  color: var(--color-dark);
}

.partners {
  width: 100%;
  margin: 0 auto;
}

/* partners */
.people {
  padding: 10px 20px;
  text-align: center;
}

.people__photo {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background: var(--partner-back);
  border-radius: 50%;
}

.people__photo:after {
  display: block;
  content: "";
  position: relative;
  bottom: 30px;
  left: 85px;
  width: 35px;
  height: 35px;
  border: 3px solid white;
  border-radius: 50%;
}

.people:nth-child(1) .people__photo:after {
  background: #ff4e50 url(../img/icons/tv.png) no-repeat center;
}

.people:nth-child(2) .people__photo:after {
  background: #ffa507 url(../img/icons/flask.png) no-repeat center;
}

.people:nth-child(3) .people__photo:after {
  background: #1cd7ad url(../img/icons/coffe.png) no-repeat center;
}

.people:nth-child(4) .people__photo:after {
  background: #4e73db url(../img/icons/telegram.png) no-repeat center;
}

.people__name {
  margin-top: 10px;
  color: var(--color-dark);
  font-family: var(--ffMonserratB);
  font-size: 14px;
}

.people__about {
  color: #989898;
  font-family: var(--ffRobotoL);
  font-size: 14px;
}

.button_bottom {
  min-height: 40px;
  margin-bottom: 60px;
  border: 2px solid var(--color-btn);
  background: none;
  border-radius: 20px;
  font-family: var(--ffMonserratB);
  font-size: 14px;
  color: var(--color-btn);
}
